* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Norse';
  src: local('Norse'), url('../Norse-Bold.otf') format('opentype');
}

:root {
  --lighter-white: rgba(255, 255, 255, 0.75);
  --main-bg-color: rgba(249, 250, 251, 255);
  --text-label-color: rgba(0, 0, 0, 1);
  --border-color: rgb(229, 231, 235);
  --valid-input-color: rgb(75, 132, 245);
  --button-color: rgb(89, 109, 72);
}

body {
  font-family: 'Roboto', sans-serif;
}

/* App */
.app {
  display: flex;
  height: 100vh;
}

/* Content */

.content {
  background-color: var(--main-bg-color);
  width: 70%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 33%;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10% 30% 0 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

#sign-up-form {
  flex: 0 0 20%;
  background-color: rgba(255, 255, 255);
  padding: 1rem 0 2rem 4%;
  box-shadow: 0 10px 2px rgba(150, 147, 147, 0.13);
}

label {
  display: block;
  color: var(--text-label-color);
  letter-spacing: 0.3ch;
  font-weight: bold;
  font-size: 0.75rem;
  height: 15px; /*Prevents label from overlapping input elements */
}

input {
  padding: 4px 0 4px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  width: 250px;
}

input:focus-visible {
  outline-color: var(--valid-input-color);
}

.username,
.contact-info {
  margin-bottom: 1rem;
}

#sign-up-form h2 {
  margin-bottom: 1rem;
}

#sign-up-form > div {
  display: flex;
  gap: 3rem;
}

.footer {
  padding: 2.5rem 0 0 2rem;
}

button {
  padding: 0.75rem 2.5rem;
  margin-bottom: 2.5rem;
  background-color: var(--button-color);
  border-radius: 0.5rem;
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
}

.login {
  display: flex;
  gap: 0.3rem;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a,
a:visited {
  color: var(--button-color);
}

/* Sidebar */
.sidebar {
  background-image: url('../images/leaf-plant.jpg');
  background-size: 540px 100%;
  width: 37%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 212px 0 12px;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 12px 0 12px;
  display: flex;
  justify-content: center;
}

.logo-container > span {
  font-family: 'Norse', sans-serif;
  font-size: 6rem;
  align-self: center;
}

.logo-container > img {
  height: 120px;
}

.photo-attr {
  color: var(--lighter-white);
  font-size: 0.85rem;
}

.photo-attr > a {
  color: var(--lighter-white);
}
